div.container{
    display: flex; /*torna flexivel os item dentro*/
    background-color: aqua;
    flex-flow: row wrap;
    height: 400px;
    align-items: center;
    
}

div.item {
    background-color: yellow;
    border: 1px solid;
    text-align: center;
    padding: 20px;
}

div#i1 {
    align-self: flex-end;
}

div#i2 {
 align-self: flex-start;
}

div#i3 {  
    align-self: flex-end;  
}

div#i4 {
    align-self: auto;
}

div#i5 {
    align-self: center;
}

div#i6 {
    align-self: stretch;
}
