div.container{
    display: flex; /*torna flexivel os item dentro*/
    background-color: aqua;
    flex-flow: row nowrap;    
}

div.item {
    background-color: yellow;
    border: 1px solid;
    text-align: center;
    flex-basis: 150px;
    flex-shrink: 1;
    flex-grow: 0;

}