*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightgray;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: gray;
}

h1{
    text-align: center;
    background-color: lightgray;
    padding: 10px 0px 10px 0px;
}

span#burger{
    display: block;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: rgb(83, 83, 83);
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}


menu > ul > li > a {
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: white;
    border: 2px solid rgb(255, 255, 255);

}

menu > ul > li > a:hover{
    background-color: lightgray;
    color: black;
}

main{
    margin: auto;
    max-width: 700px;
    border-radius: 10px;
    background-color: white;
    text-indent: 20px; 
    padding: 20px;
}




