*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: gray;
}

h1{
    text-align: center;
    background-color: lightgray;
    padding: 10px 0px 10px 0px;
}

menu{
    display: block;
}

menu > ul{
    list-style-type: none;
}


menu > ul > li > a {
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: white;
    border: 2px solid rgb(255, 255, 255);

}

menu > ul > li > a:hover{
    background-color: lightgray;
    color: black;
}


