

h1{
    background-image: linear-gradient(rgb(255, 174, 0), yellow);
    color: rgba(41, 41, 41, 0.945);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    padding: 10px 5px;
    text-align: center;
    border: 2px solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.329);
}


div.container{
    display: flex;
    background-color: lightcoral;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: flex-start;
    height: 300px;
    border-radius: 5px;
    
}

div.item {
    background-color: lightseagreen;
    border: 1px solid black;

    /*flex: auto;*/ /*faz com que os itens se adaptem para a preencherem a largura total do container*/
}