div.container{
    display: flex; /*torna flexivel os item dentro*/
    background-color: aqua;
    flex-flow: row wrap;
    
}

div.item {
    background-color: yellow;
    border: 1px solid;
    text-align: center;
    padding: 20px;
}

div#i1 {
    order: 0;
}

div#i2 {
    order: -2;
}

div#i3 {
    order:4;
}

div#i4 {
    order: 8;
}

div#i5 {
    order: 0;
}

div#i6 {
    order: -4;
}
