@font-face {
            font-family:'Love';
            src: url('fonts/love larry ttf.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
            /*tipos de format()
            - opentype (otf)
            -truetype  (ttf)
            -embedded-opentype
            -truetype-aat(apple advanced typography)
            -svg
            */
        }
        h1{
            font-family: Love;
        }