*{
    margin: 10px;
    padding: 0px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height:1.5em;
}

menu{
    display: none;
}

h1{
    padding: 20px;
    text-align: center;
}
article::after{
    content: "esse artigo foi empresso atraves do site www.cursoemvideo.com";
}