/*estilo para impressoras*/

*{
    padding: 0px;
    margin: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;

}
header{
    background-color: aqua;
}
header > h1{
    background-color: antiquewhite;
}
menu{
    background-color: lightgray;
}


menu > ul{
    text-align: center;
}

h1{
    text-align: center;
    padding: 20px;
}

li{
    background-color: gray;
    display: inline-block;
    padding: 5px;

}

main{
    max-width: 500px;
    margin: auto;
    padding-top:20px ;
}