@charset "UTF-8";

/*Versao mobile first*/

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1.3em;
}

html{
    height: 100vh;
}

body{
    background:black url(../imagens/back-phone.jpg)  no-repeat;
    background-size: cover;
    background-position: center center;
}

main{
    background-color: rgba(255, 255, 255, 0.507);
    margin: auto;
    margin-top: 20px;
    width: 90vw;
    border-radius: 10px;
    padding: 10px;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
}

img#phone{ display: none; }
img#tablet{ display: none; }
img#print{ display: none; }
img#pc{ display: none; }
img#tv{ display: none; }